main, body, html {
    height: calc(100% - 5em);
    margin: 0;
    padding: 0;
}

html {
    background: papayawhip;
}

html.mobile {
    background: greenyellow;
}

.mobile head {
    display: none;
}

head, title {
    display: block;
    text-align: center;
    font-family: 'Trebuchet Ms', sans-serif;
    font-size: 64pt;
    color: black;
    font-variant: small-caps;
}

html.failed {
    background: #FF3E69;
}

html.piano {
    background: #1464ff;
}

html.piano table{
    opacity: .2;
}

html.piano.digit0 table.digit0,
html.piano.digit1 table.digit1,
html.piano.digit2 table.digit2,
html.piano.digit3 table.digit3,
html.piano.digit4 table.digit4,
html.piano.digit5 table.digit5,
html.piano.digit6 table.digit6,
html.piano.digit7 table.digit7,
html.piano.digit8 table.digit8,
html.piano.digit9 table.digit9 {
    animation: solidify 0.3s normal forwards ease-in-out;
}

@keyframes solidify {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}


html.failed lost {
    visibility: visible;
}

main {
    overflow-y: hidden;
}

score {
    border-radius: 50%;
    background: black;
    color: white;
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-family: monospace;
    font-size: 24pt;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    text-align: center;
}

score:before {
    content: 'score';
    position: absolute;
    right: 120%;
    color: black;
    font-size: 14px;
}

past {
    font-size: 18pt;
    font-family: "Futura", sans-serif;
    width: 28em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
}

lost {
    padding-top: 1em;
    visibility: hidden;
    font-size: 18pt;
    font-family: monospace;
    color: ghostwhite;
    text-align: center;
    display: block;
}

table {
    display: block;
    border: 1px solid #CECECE;
    border-radius: 0.3em;
    overflow: hidden;
    padding: 5px;
    margin: .2em;
    border-collapse: collapse;

}

table.correct {
    background: #E8FFE8;
}

table.incorrect {
    background: lightpink;
}

td {
    line-height: 0.8em;
    color: transparent;
    padding: 2px;
    border: 1px solid TRANSPARENT;
}

.correct td {
    border-color: #D0D0D0;
}

.incorrect td {
    border-color: #ECECEC;
}

table.digit0 .num0,
table.digit1 .num1,
table.digit2 .num2,
table.digit3 .num3,
table.digit4 .num4,
table.digit5 .num5,
table.digit6 .num6,
table.digit7 .num7,
table.digit8 .num8,
table.digit9 .num9 {
    color: black;
    background: white;
}

keypad {
    display: none;
}

.mobile main {
    height: calc(54% - 5em);
}

.mobile keypad {
    width: 100%;

    background: rgba(255, 255, 255, 0.50);
    color: rgba(0, 0, 0, 0.83);
    position: absolute;
    bottom: 0;
    display: table;
}

.mobile keypad keyrow {
    display: table-row;
}

.mobile score {
    display: none;
}

.mobile lost {
    display: none;
}

.mobile keypad keyrow key {
    display: table-cell;
    text-align: center;
    font-family: 'Trebuchet Ms', sans-serif;
    font-size: 12vw;
    -webkit-user-select: none;
    width: 33.333333333%;
}
.mobile keypad keyrow key.reset {
    font-size: 5vw;
    vertical-align: middle;
    visibility: hidden;
}

.mobile keypad keyrow key.score {
    background: rgb(78, 78, 78);
    color: rgb(213, 255, 150);
    font-size: 9vw;
    vertical-align: middle;
    border-top: 4px double;
    border-left: 4px double;
}

html.failed.mobile keypad keyrow key.reset{
    visibility: visible;
}

.mobile keypad keyrow key:active {
    background: floralwhite;
}

